<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Tutorial</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>What is Card Counting?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card counting is a technique used in blackjack to give the player an advantage over the dealer. It involves keeping track of the cards that have been played and using this information to predict the likelihood of certain cards being dealt. This can help the player make better decisions about when to hit, stand, or double down.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>How Does it Work?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      In most blackjack games, the deck is shuffled after each hand. This makes it difficult to keep track of all the cards that have been played. However, certain cards are more beneficial to the player and certain cards are more beneficial to the dealer. By keeping track of these cards, the player can adjust their betting and playing strategy to take advantage of the remaining cards in the deck.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Is it Legal?</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Card counting is not illegal, but it is generally not welcomed by casinos. Some casinos may ask players who they suspect of card counting to leave, while others may use various tactics to discourage or prevent it. It is important to be aware of the specific rules and policies of the casino you are playing at.
    </ion-card-content>
  </ion-card>
</ion-content> -->