<ion-header>
  <ion-toolbar>
    <ion-title>Card Counter</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>{{ currentCard.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-button (click)="addOne()" color="primary">+1</ion-button>
      <ion-button (click)="subtractOne()" color="secondary">-1</ion-button>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Score: {{ score }}</ion-card-title>
    </ion-card-header>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Card History</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-item *ngFor="let card of cardHistory">
          {{ card.name }} - {{ card.result }}
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-button (click)="resetDeck()" color="warning" expand="block">Reset Deck</ion-button>
</ion-content>

<!-- <ion-alert-controller></ion-alert-controller> -->