<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Settings</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-item>
      <ion-label>Difficulty</ion-label>
      <ion-select [(ngModel)]="difficultyLevel">
        <ion-select-option value="easy">Easy</ion-select-option>
        <ion-select-option value="medium">Medium</ion-select-option>
        <ion-select-option value="hard">Hard</ion-select-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>Card Range</ion-label>
      <ion-select [(ngModel)]="cardRange">
        <ion-select-option -->